package pages

templ VotingSuccess(ballot string) {
	@Template("Vote - " + ballot) {
		<div class="w-full h-screen flex flex-col justify-center items-center gap-5">
			<h1 class="text-2xl font-bold">Vote Cast!</h1>
			<h2 class="text-xl font-bold">
				<img src="/assets/acm-wordmark.png" class="inline h-[1.2em]"/> Votes
			</h2>
		</div>
	}
}
